h1{
    text-align: start;
    padding-left: 5%;
    font-size: x-large;
    padding-right: 5%;
}
header{
    background-color: rgb(237, 237, 237);

}
.personal-details{
    display: flex;
        align-items: center;
        padding-left: 0%;
        padding-right: 0%;
}
h3, h4, h2{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    text-align: center;
    padding: 1px;
    background-color: rgb(243, 243, 243);
}
body{
    padding: 0;
    margin: 0;
}
.content{
    padding-left: 30px;
    padding-right: 30px;
}